@charset "UTF-8";

#left-top-header {
/*    padding-top:35px;*/
}

#pagetitle {
    border: 0;
    margin-bottom: 1em;
    width: 100%;
}

#pagetitle img {
    display: inline;
/*    margin: 0 0 0.4em 0;*/
}

#pagetitle h1 {
    font-size: 2.1em;
    font-weight: bold;
    line-height: 80%;
}

#dcs-text {
    font-size:32px;
    color:#484848;
    text-shadow:#888888 0.1em 0.1em 0.2em;
    margin-right:180px;
    z-index:2;
    padding: 0px 0px 0px 25px;
}

#bottom-nav {
    color: gray;
    margin: 0.1em 0.5em;
    text-align:center;
}

#table-explain {
    padding: 5px 5px 5px 5px;
}

#cpqd-logo {
    /*padding: 0px 0px 0px 15px;*/
    text-align:center;
}

#clock {
    text-align:center;
}

#main-container {
/*    margin-top: -2em;*/
}

#gv_legend_container {
    position:relative;
    line-height: 2em;
}

table.legend-table {
/*    cellspacing: 20;
    cellpadding: 0;
    border: solid #000000 1px;*/
    margin-left:auto;
    margin-right:auto;
    width: 60%;
}

#legend-title {
    text-align:center;
}

.legend {
    height: 14px;
    border:solid #000000 1px;
    text-align:center;
}

/*.legend-text {
    color:#FFFFFF;
    font-weight:bolder;
}*/

#top-popout {
    position:relative;
    font-size:14px;
    margin-left:10px;
    margin-right:10px;
}

#top-popout-header {
   font-size:20px;
   font-weight:bold;
}

#sub-menu {
    background:url('../images/circuit-info-menu-bg.jpg') repeat-x bottom;
    clear:both;
    display:block;
    height: 35px;
    margin-left:10px;
    margin-right:5px;
    margin-top:1px;
    padding-left:10px;
    padding-right:9px;
    position:relative;
    width:93%;
    z-index:1;
}

#sub-menu a {
    display:block;
    padding: 10px 10px 10px 10px;
    float:left;
    text-decoration:none;
    color:#145d80;
/*    margin-top:-17px;*/
    z-index:99;
}

#sub-menu a.selected {
    background:url('../images/secondary-selected-bg-blue.png') repeat-x center;
    color: #FFFFFF;
}

#sub-menu a.unvisited {
    color:#000000;
    cursor: default;
}

#topology_div {
    width:100%;
}

#map_div {
    height:400px;
    width:100%;
    z-index: 20;
}
