@charset "UTF-8";
/* Internet2 ION 
Design:  Iman A Muttardy   iam at internet2 dot edu
*/

body{
    background: #FFFFFF url('../images/top-bg-new.png') no-repeat top center;
    background-size: 150%;
    padding:0;
    margin:0;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
}

#outer {
    /*background:url('../images/map-bg.jpg') repeat-x top;*/
    width:100%;
    height:100%;
    margin:0 0 0 0;
    padding:0 0 0 0;
}

#container {
    margin: 0px auto;
    width:100%;
    height:100%;
}

#header {
    /*background:url(../images/header-bg-1k.png) no-repeat top center;*/
    margin:0;
    padding: 0 9px 0 8px;
    height:65px;
}

#logo {
    margin-left:5px;
    float:left
}

#spider-text {
    font-family: Arial;
    font-size: 24px;
    color: #484848;
    text-shadow: #888888 0.1em 0.1em 0.2em;
    margin-top:45px;
    margin-left: 234px;
    position:absolute;
    z-index:2
}

#right-top-header {
    margin-top:0;
    float:right;
    background:url('../images/top-nav-bg.png') no-repeat right top;
    padding-top:1px;
    padding-bottom:1px;
    margin-right:1px;
    position:relative;
    z-index:1
}

#top-nav a {
    color:#FFFFFF;
    text-decoration:none;
    display:block;
    padding: 5px 0 5px 0;
    width: 80px;
    text-align:center;
    float:left;
    margin-top:1px;
}

#top-nav a:hover {
    color:#8CB9CB;
}

#top-nav a.left-end {
    background:url(../images/top-nav-divider-left.png) no-repeat right;
}

#top-nav a.right-end {
    background:url(../images/top-nav-divider-right.png) no-repeat left;
}

#top-nav a.cen {
    background:url(../images/top-nav-divider-cen.png) no-repeat center;
}

#logo-cpqd {
    padding-left: 330px;
    padding-top: 30px
}

/*#top-cpqd {
    margin-top:40px;
    width: 200px;
    float:right;
    height:40px;
    padding-top:1px;
    padding-bottom:1px;
    margin-right:1px;
} */

#main-nav {
/*    background:url(../images/content-bg-shadow.png) no-repeat bottom;*/
    background-size: 105%;
    margin: 0 auto;
    text-align:right;
    height:30px;
    padding-left: 10px;
}

#primary {
    clear:both;
    width:100%;
    height:45px;
    display:block;
/*    padding-top:10px;*/
    z-index:50;
}

#primary a {
    background:url(../images/primary-not-selected-bg.png) no-repeat top;
    display:block;
    padding: 6px 0px 12px 0px;
    float:left;
    width: 190px;
    text-align:center;
    text-decoration:none;
    color:#145d80;
/*    margin-top:-5px;*/
    z-index:-1;
}

#primary a.selected {
    background:url(../images/primary-selected-bg.png) no-repeat top;
    margin-top:0;
    color:#FFFFFF;
}

#secondary {
    clear:both;
    height: 25px;
    width: 979px;
    margin-top:1px;
    padding-left:10px;
    padding-right:10px;
    display:block;
    background:url('../images/nav-lower-bg.jpg') repeat-x bottom;
    z-index:1;
    position:relative;
}

#secondary a {
    display:block;
    padding: 15px 15px 15px 15px;
    float:left;
    text-decoration:none;
    color:#145d80;
    margin-top:-17px;
    z-index:99;
}

#secondary a.selected {
    background:url(../images/secondary-selected-bg-blue.png) repeat-x center;
    color: #FFFFFF;
}

#secondary a.unvisited {
    color:#000000;
    cursor: default;
}

#content {
    background:url(../images/content-bg-all.png) repeat-y bottom;
    background-size: 105%;
    padding: 10px 20px 10px 20px;
}

#content a {
    color:#145d80;
}

p.clearall {
    clear:both;
}

#footer {
    background:url(../images/footer-bg-rounded.png) no-repeat bottom;
    background-size:105%;
    padding: 10px 20px 30px 20px;
    margin-top:0;
    text-align:center;
}

#footer a {
    color:#145d80;
    text-decoration:none;
}

#footer a:hover {
    text-decoration:underline;
}

#sub-footer {
    color:#FFFFFF;
    /*color:#8cb9cb;*/
    text-align:center;
    font-size:70%;
}

#sub-footer a {
    color:#FFFFFF;
    font-weight:bold;
    text-decoration:none;
    /*color:#8cb9cb;*/
}

#sub-footer a:hover {
    text-decoration:underline;
}
