body {
    font-family: sans-serif;
    font-size: 0.8em;
}

table {
    font-family: sans-serif;
    font-size: 1.0em;
}

.header {
    font-weight: bold;
    background-color: #505868;
    color: #ffffff;
}

#entries {
    width: 400px;
}

.bg0 {
    background-color: #A5B0C4;
    color: #ffffff;
}

.bg1 {
    background-color: #B0B7C4;
    color: #ffffff;
}

.bg0:hover, .bg1:hover {
    background-color: #B6A5C5;
}

.hidden_msg_content {
    display: none;
}

.msg_content {
    display: "";
}

.expand_control, .expand_control_header {
    background-color: #505868;
    font-family: monospace;
    font-size: 1.5em;
    color: #ffffff;
}

.expand_control_header {
    background-color: #ffffff;
}

.message_content {
    font-size: 0.8em;
    padding-left: 10px;
    border: 1px solid #D8D7C0;
    background-color: #D8D7C0;
}

.section {
    vertical-align: top;
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
}

.first {
    padding-left: 0px;
}

.section_title {
    font-size: 1.2em;
    font-family: sans-serif;
    font-weight: bold;
}

.subsection {
    margin-top: 10px;
    margin-bottom: 10px;
}

.subsection div {
    padding-left: 10px;
}

.subsection_title {
    font-weight: bold;
}

#control {
    border-right: 1px solid #505868;
    height: 100%;
}
