@charset "UTF-8";

#root {
}

#infovis {
    height: 400px;
    width: 78%;
    background-color:#fff;
    color:#ccc;
    border: 1px solid #F2F2F2;
    display: inline-block;
}

#switchinfo {
    width: 21%;
    vertical-align: top;
    display: inline-block;
}

#flows {
    width: 100%;
    text-align: left;
    text-indent:8px;
    display: inline-block;
    vertical-align: top;
}

#flows table {
    margin-left: auto;
    margin-right: auto;
}

.text {
    margin: 7px;
}

#inner-graph-details {
    list-style:none;
    margin:7px;
}

#log {
    position:absolute;
    top:10px;
    font-size:1.0em;
    font-weight:bold;
    color:#23A4FF;
}

/*TOOLTIPS*/
.tip {
    color: #111;
    width: 139px;
    background-color: white;
    border:1px solid #ccc;
    -moz-box-shadow:#555 2px 2px 8px;
    -webkit-box-shadow:#555 2px 2px 8px;
    -o-box-shadow:#555 2px 2px 8px;
    /*box-shadow:#555 2px 2px 8px;*/
    opacity:0.9;
    /*filter:alpha(opacity=90);*/
    font-size:10px;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    padding:7px;
    text-align: left;
    width:auto;
    max-width:500px;
}

.tip-title {
  font-size: 11px;
  text-align:center;
  margin-bottom:2px;
}

#routeflow-logo {
    margin-right:300px;
    z-index:2;
    padding: 0px 0px 0px 25px;
}


.table-row-header {
    background-color: #145D80;
    color: #FFFFFF;
    width:100%;
    font-weight: bold;
}

.table-row-content-not-selected {
    background-color: #FFFFFF;
    color: #000000;
}

.table-row-content-selected {
    background-color: #145D80;
    color: #000000;
}

.table-row-content-new {
    background-color: #FFFF00;
    color: #000000;
}

.table-row-content-not-so-new {
    background-color: #AAAA00;
    color: #000000;
}

.table-row-content-action-changed {
    background-color: #77AA00;
    color: #000000;
}
