@charset "UTF-8";

#topology {
    width: 100%;
}

#infovis {
    height: 400px;
    width: 75%;
    background-color: #fff;
    color: #ccc;
    border: 1px solid #F2F2F2;
    float: left;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}

#switchinfo {
    vertical-align: top;
    float: right;
    width: 25%;
}

#switchinfo .section {
    width: 100%;
    padding: 0px;
}

#flows {
    width: 100%;
    text-align: left;
    text-indent:8px;
    display: inline-block;
    vertical-align: top;
}

#flows table {
    width: 100%;
}

ul.switchdesc {
    list-style: none;
    margin: 2px;
}

/* Tooltips */
.tip {
    color: #111;
    width: 139px;
    background-color: white;
    border:1px solid #ccc;
    -moz-box-shadow:#555 2px 2px 8px;
    -webkit-box-shadow:#555 2px 2px 8px;
    -o-box-shadow:#555 2px 2px 8px;
    opacity:0.9;
    font-size:10px;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    padding:7px;
    text-align: left;
    width:auto;
    max-width:500px;
}

.tip-title {
  font-size: 11px;
  text-align:center;
  margin-bottom:2px;
}

/* Colors from: http://colorschemedesigner.com/#2q408cku-w0w0 */
.flow-new {
    background-color: #C3E48C;
}

.flow-kinda-new {
    background-color: #F7DE98;
}

.flow-action-changed {
    background-color: #7276AB;
}
