/* Colors */
.header {
    background-color: #2271af;
    color: #ffffff;
}

.bg0 {
    background-color: #ffffff;
    color: #363636;
}

.bg1 {
    background-color: #F2F2F2;
    color: #363636;
}

.bg0:hover, .bg1:hover {
    background-color: #d0e5f5;
    color: #1d5987;
}

.expand_control, .expand_control_header {
    background-color: #ffffff;
    color: #363636;
}

.message_content {
    border: 1px solid #fad42e;
    background-color: #fbec88;
    color: #363636
}

#control {
    border-right: 1px solid #F2F2F2;
}

#links a {
    color: #000000;
}

/* Colors from: http://colorschemedesigner.com/#2q408cku-w0w0 */
.flow-new {
    background-color: #C3E48C;
}

.flow-kinda-new {
    background-color: #F7DE98;
}

.flow-action-changed {
    background-color: #7276AB;
}

/* Styles */
body {
    font-family: sans-serif;
    color: #363636;
    font-size: 11px;
    background: #FFFFFF url('../images/top-bg-new.png') no-repeat top center;
    background-size: 100%;
}

table {
    font-family: sans-serif;
}

.header {
    font-weight: bold;
}

.header td, .bg0 td, .bg1 td {
    padding-left: 4px;
    padding-right: 4px;
}

#entries {
    width: 400px;
}

.hidden_msg_content {
    display: none;
}

.msg_content {
    display: "";
}

.message_content {
    font-size: 0.8em;
    padding-left: 10px;
}

.section {
    vertical-align: top;
    display: inline-block;
    padding: 12px;
}

.section_title {
    padding-left: 0px;
}

.section_title {
    font-size: 1.2em;
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 5px;
}

.subsection {
    margin-bottom: 15px;
}

.subsection_title {
    font-weight: bold;
    margin-bottom: 2px;
}

.subsection > * {
    padding-left: 20px;
}

.subsection .subsection_title {
    padding-left: 10px;
}

.section > .subsection {
    padding-left: 5px;
}

#control {
    height: 100%;
}

#topnav {
    padding: 20px;
}

#topnav * {
    display: inline-block;
}

#links {
    float: right;
}

#links a {
    text-decoration: none;
}

#links a:hover {
    text-decoration: underline;
}

#flows {
    width: 100%;
}

#flows table {
    width: 100%;
}

ul.switchdesc {
    list-style: none;
    margin: 2px;
}

/* RFTable */
#rftable_section {
    width: 100%;
}

#rftable {
    margin-left: auto;
    margin-right: auto;
}
