/* Colors */
.header, .section_title {
    background-color: #2271af;
    color: #ffffff;
}

.bg0 {
    background-color: #ffffff;
    color: #363636;
}

.bg1 {
    background-color: #F2F2F2;
    color: #363636;
}

.bg0:hover, .bg1:hover {
    background-color: #d0e5f5;
    color: #1d5987;
}

.expand_control, .expand_control_header {
    background-color: #ffffff;
    color: #363636;
}

.message_content {
    border: 1px solid #fad42e;
    background-color: #fbec88;
    color: #363636
}

#control {
    border-right: 1px solid #F2F2F2;
}

#links a {
    color: #000000;
}

/* Styles */
body {
    color: #363636;
    font-size: 11px;
    background: #FFFFFF url('../images/top-bg-new.png') no-repeat top center;
    background-size: 100%;
}

* {
    font-family: sans-serif;
}

.ui-tabs .ui-tabs-panel {
    padding-top: 5px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 5px;
}

.header {
    font-weight: bold;
}

.header td, .bg0 td, .bg1 td {
    padding-left: 4px;
    padding-right: 4px;
}

.hidden_msg_content {
    display: none;
}

.message_content {
    font-size: 0.8em;
    padding-left: 10px;
}

/* Main */
#topnav {
    padding: 16px;
}

#topnav * {
    display: inline-block;
}

#routeflow-logo {
    margin-left: 40px;
}

/* Section */
.section {
    vertical-align: top;
    padding: 12px;
}

.section_title {
    padding-left: 0px;
}

.section_title {
    font-size: 1.2em;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
}

/* Subsection */
.subsection {
    margin-bottom: 15px;
}

.subsection_title {
    font-weight: bold;
    margin-bottom: 2px;
}

.subsection > * {
    padding-left: 20px;
}

.subsection .subsection_title {
    padding-left: 10px;
}

.section > .subsection {
    padding-left: 5px;
}

/* Links */
#links {
    float: right;
}

#links a {
    text-decoration: none;
}

#links a:hover {
    text-decoration: underline;
}

/* RFTable */
#rftable_section {
    width: 100%;
}

#rftable {
    margin-left: auto;
    margin-right: auto;
}

/* RFMessages */
#control {
    float: left;
}

#channels .section {
    display: inline-block;
}
